<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210201601009-6tqqa6chpvrg7p2sufm0oirsao36slev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210201601009-6tqqa6chpvrg7p2sufm0oirsao36slev</string>
	<key>API_KEY</key>
	<string>AIzaSyC-gq5L0fahH2TsIc6LDbVEw1grAD5OuaY</string>
	<key>GCM_SENDER_ID</key>
	<string>210201601009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>store.leafanima.ionfire</string>
	<key>PROJECT_ID</key>
	<string>leafanima-260617</string>
	<key>STORAGE_BUCKET</key>
	<string>leafanima-260617.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210201601009:ios:e92dc1e77551fa44389a50</string>
	<key>DATABASE_URL</key>
	<string>https://leafanima-260617.firebaseio.com</string>
</dict>
</plist>